@font-face {
    font-family: "Contrail One";
    src: url("/src/font/Contrail_One/ContrailOne-Regular.ttf");
}

/*Mise en place de variable*/
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --box_shadow: 1px 1px 25px rgba(0, 0, 0, 0.07);
    --bg: #00749e56;
    --bg-form: #F0F0F0;
}

/* Initialisation du mode Sombre */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: rgb(255, 255, 255);
    --box_shadow: 1px 1px 25px rgba(255, 255, 255, 0.753);
    --bg: #00749e56;
    --bg-form: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Contrail One;
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Délai de transition pour changement de mode */
}

/* ----------- HEADER ----------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    z-index: 999;
    box-shadow: var(--box_shadow);
}

/* Nav */
nav {
    max-width: 1280px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
nav img {
    width: 80px;
}

/* Menu navigation */
#menu-list {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

#menu-list li a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    transition: 0.2s ease;
}

#menu-list li a:hover {
    transform: translateY(-4px); /* Effet de soulèvement */
}


/* Réseaux sociaux */

.social img {
    width: 50px;
    padding: 10px;
    text-decoration: none;
}

.social a {
    text-decoration: none;
}

/* Burger */
.burger {
    display: none;
}


section {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

/* Style global pour le bouton */
#toggle-theme {
    padding: 10px;
    background-color: #F9F9F9;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none; /* Enlève l'effet de focus par défaut */
}

/* Hover: Quand on survole le bouton */
#toggle-theme:hover {
    background-color: #fff; /* Une teinte plus foncée de vert */
    color: #000;
    transform: translateY(-2px); /* Effet de soulèvement */
}

/*---------------Page Accueil---------------*/
#accueil {
    background: url("/src/img/photo_fond/Design\ sans\ titre.png");
    object-fit: contain;
    margin-bottom: 1rem;
    background-color: #0000005b;
    background-blend-mode: darken;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typewriter {
    position: relative;
    display: flex;
    gap: 10px;
    height: 68px;
    margin-top: 35px;
}

.bvn {
    font-size: 5rem;
    padding: 0.5rem;
    display: inline-block;
    white-space: nowrap; /* Empêche le saut de ligne automatique */
    overflow: hidden; /* Masque le texte qui dépasse */
    border-right: 3px solid var(--text-color); /* Curseur de la machine à écrire */
    animation: write 0.5s step-end infinite; /* Curseur clignotant */
}

/* Je suis */
.phrase {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phrase p {
    font-size: 3rem;
}

#titre-1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

#titre-2 {
    font-size: 5rem;
    font-weight: 400;
}

.button {
    width: 150px;
    margin-top: 20px;
    padding: 1rem;
    text-align: center;
    background-color: #00749E;
    border: none;
    border-radius: 25px;
}

.button a {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}


/* Photo Thibault */
#photo-thibault {
    width: 300px;
    float: right;
}

/*---------------Page À Propos---------------*/
#about {
    margin: auto;
    background: var(--bg);
    padding: 1.5rem 3rem 2rem;
    border-radius: 25px;
}

p, strong {
    font-size: 2rem;
    font-weight: lighter;
    text-align: justify;
}

h3 {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

.img-skills {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 0;
    align-items: center;
    justify-items: center;
}

/* Logos des skills */
#logo-html {
    width: 83px;
}

#logo-css {
    width: 80px;
}

#logo-js {
    width: 79px;
}

#logo-bootstrap {
    width: 107px;
}

#logo-github {
    width: 100px;
}

#logo-docker {
    width: 100px;
}

/*---------------Page Réalisation---------------*/
#titre-realisation {
    margin-top: 3rem;
}

.card-section {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 410px;
    height: 300px;
    margin-bottom: 5rem;
    border-radius: 25px;
    overflow: hidden;
    border: 4px solid #E0E0E0;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-body {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    background-color: #0586f038;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

.card-description {
    color: #fff;
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: justify;
}

.card-techno {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-type {
    text-align: center;
    font-size: 1.4rem;
    width: 30%;
    color: #f3f3f3;
    border-radius: 50px;
}

.card-html {
    background-color: #e86221;
}

.card-css {
    background-color: #1c88c8;
}

.card-bootstrap {
    background-color: #7b11f9;
}

.card-javascript {
    background-color: #e0c007;
}

.liens-acces {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card-btn, .card-btn-git {
    margin-top: 3rem;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.card-btn-git {
    color: #fff;
    background-color: #000;
}

/*---------------Page Contact---------------*/
#contact {
    background: var(--bg);
    border-radius: 25px;
    padding: 1.5rem 3rem 2rem;
}

/* Formulaire */
form {
    background-color: var(--bg-form);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto 2rem;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.8rem;
}

textarea{
    resize: none;
    height: 300px;
}

.boutons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submit{
    background-color: #4CAF50;
    color: white;
}

#submit:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#reset {
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.contact img {
    width: 30px;
}

.contact a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

/* Footer */
footer p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

/* ANIMATIONS */

/* État initial (invisible) */
.fade-in {
    opacity: 0; /* Départ invisible */
    transform: translateY(20px); /* Décalage initial */
    transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}

/* État visible (apparaît à l'écran) */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0); /* Retour à la position initiale */
}

/* Machine à écrire */
@keyframes ecriture {
    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes write {
    50% {
        border-color: transparent;
    }
}
