/* VERSION MOBILE */

@media (width <=480px) {

    #about, #realisation, #contact {
        width: 95%;
        margin: auto;
    }

    #accueil {
        background:none;
    }

    .bvn {
        font-size: 4rem;
    }
    
    .phrase p {
        font-size: 2.4rem;
    }
    
    #titre-1 {
        font-size: 4.4rem;
    }
    
    #titre-2 {
        font-size: 4.2rem;
        font-weight: 400;
    }

    /* À propos */
    #about-skill {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #photo-thibault {
        float: none;
        width: 200px;
        display: block;
        margin: 0 auto 2rem;
    }

    /* Images des compétences */
    .img-skills {
        width: 80%;
        grid-template-columns: 1fr 1fr;
    }


    
    

}